{% extends 'andris/base.html' %}



{% block body %}

    <h1 class="page-header">{{ categoria.nomeCategoria}} </h1>



    <div class="row">

        {% for prod in produto_lista %}

            <div class="col-md-5 portfolio-item">

                <a  href="/andris/produto?produto={{ prod.key.id() }}">
                    <img  href="/andris/produto?produto={{ prod.key.id() }}" src="../static/img/fotonaodisponivel.jpg" class="img-responsive" alt="" />
                </a>
                <p>

                <div class="row">
                    <div class="price col-md-6">
                        <h5>
                            {{ prod.nomeProduto }}</h5>
                        <h5 class="price-text-color">
                            R$ {{ prod.precoProduto}}</h5>
                    </div>
                    <div class="rating hidden-sm col-md-6">
                        <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                    </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                    </i><i class="fa fa-star"></i>
                    </div>
                </div>

                {{ form_button('Detalhes','submit','btn-default','btn-md','glyphicon glyphicon-exclamation-sign') }}

                {{ form_button('Adicionar ao carrinho','submit','btn-default','btn-md','fa fa-shopping-cart') }}

                </p>


            </div>

        {% endfor %}


    </div>





{% endblock %}