<tr>
    <td>
        <div class="btn-group">



            <div class="form-group" ng-class="{true: '',false:'has-error'}[errors.nomeCategoria==null]">

                <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-bars"></i>
            </span>
                    <input id="nomeCategoriaInput" type="text" class="form-control" ng-model="categoria.nomeCategoria" />

                </div>
                <span class="help-block" ng-show="errors.nomeCategoria">{{ errors.nomeCategoria }}</span>
            </div>

            <button type="submit" class="btn btn-success btn-sm" ng-click="alterarCategoria()" ng-hide="ajaxFlag">
                <span class="fa fa-exchange" aria-hidden="true"></span> Alterar
            </button>
            <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>

            <button type="submit" class="btn btn-danger btn-sm" ng-click="deletarCategoria()" ng-hide="ajaxFlag">
                <span class="fa fa-trash" aria-hidden="true"></span> Deletar
            </button>
            <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>


        </div>




    </td>
</tr>